{% extends 'index.html' %}

{% block content %}
    <h1>Все авторы ({{ authors|length }})</h1>

    {% for author in authors %}
        <p>Автор: <b>{{ author }}</b></p>
        <p>Кол-во книг : {{ author.books|length }}</p>
    {% endfor %}
{% endblock %}