{% extends 'index.html' %}

{% block content %}
<h1>{{ object.title }}</h1>
{% if object.preview %}
<img style="max-width: 100%" src="{{ object.preview.url }}"
     alt="{{ object.title }}" title="{{ object.text }}">
{% endif %}
<div class="text-justify">
    {{ object.text }}
</div>
<h3>
    <span>Автор - {{ object.author.get_full_name }} </span>
    <a href="{% url 'lesson_3:all_book_for_authors' id_author=object.author.id %}" class="btn btn-success">
        Все книги автора</a>
</h3>
<h4>Комментарии ({{ object.comments.all|length }}) </h4>

{% for comment in object.comments.all %}
<div>
    {% if not comment.user %}
    <p><a href="#">#anonymys</a></p>
    {% else %}
    <p><a href="#">#{{ comment.user }}</a></p>
    {% endif %}
    <p>{{ comment.msg }}</p>
    <p>{{ comment.date }}</p>
    <hr>
</div>

{% endfor %}

{% if request.user.is_authenticated %}
<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label for="">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
            {% for er in field.errors %}
                <p>{{ er }}</p>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <button class="btn btn-info">Отправить</button>
</form>

{% else %}
<p class="alert alert-primary">
    <a href="{% url 'client_app:login' %}">Войдите в систему , чтобы комментировать</a>
</p>
{% endif %}

{% endblock %}