{% extends 'index.html' %}


{% block content %}
    <h1>Calculator</h1>

    <!-- simple html -->
    <form action="{% url 'lesson_3:calc' %}" method="POST">
        {% csrf_token %}
        <input type="number" name="first_number">
        <select name="operation" id="">
            {% for operation in operations %}
                <option value="{{ operation }}">{{ operation }}</option>
            {% endfor %}
        </select>

        <input type="number" name="second_number">

        <button class="btn btn-primary">Calculate</button>
        {% if result %}
            <p class="alert alert-info">{{ result }}</p>
        {% endif %}

        <div>
            <label for="check_me">Check me!</label>
            <input type="checkbox" name="check">
        </div>
        {#        <input type="submit">#}
        {#        {{operations}}#}
    </form>
{% endblock %}








{#        <input type="text">#}
{#        <input type="search" name="s">#}
{#        <input type="range">#}
{#        <input type="checkbox">#}
{##}
{#        <div>#}
{#            <input type="radio" name="a" value="car">#}
{#            <input type="radio" name="a" value="metro">#}
{#            <input type="radio" name="a" value="air">#}
{#            <input type="radio" name="a" value="">#}
{#            <input type="radio" name="a" value="">#}
{#            <input type="radio" name="a" value="">#}
{#        </div>#}
{##}
{#        <div>#}
{#            <select name="select" id="" multiple>#}
{#                <option value="-1">---</option>#}
{#                <option value="1">1</option>#}
{#                <option value="2">2</option>#}
{#                <option value="3">3</option>#}
{#                <option value="4">4</option>#}
{#            </select>#}
{#        </div>#}
{##}
{#        <textarea name="" id=""