{% extends 'index.html' %}
{% block content %}
<div class="row">
    {% for book in all_books %}
    <div class="card col-md-3" style="margin: 15px 10px">
        {% if book.preview %}
        <img class="card-img-top" src="{{ book.preview.url }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">{{ book.author.get_full_name }}</p>
            <a href="{% url 'lesson_3:book-info' pk=book.id %}" class="btn btn-info"> читать полностью</a>
            <form action="{% url 'client_app:set-to-wish-list' %}">
                <input type="hidden" name="article_id" value={{book.id}}>
                <button class="btn btn-warning">Отложить на чтение</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}