{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body         {% if request.session.color %}
    style="background: {{ request.session.color }}"
{% endif %}>


{% include 'includes/header.html' %}
{# https://getbootstrap.com/docs/4.0/getting-started/introduction/ #}
<div class="container">
    {% block content %}

    {% endblock %}
</div>

{% include 'includes/footer.html' %}
{##}
{#<h1 id="output"></h1>#}
{#<label for="">Name</label>#}
{#<input type="text" id="name">#}
{##}
{#<label for="">Surname</label>#}
{#<input type="text" id="surname">#}
{##}
{#<button id="btn">Get full name</button>#}

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
{##}
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"#}
{#        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"#}
{#        crossorigin="anonymous"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<script src="{% static "client.bundle.js" %}"></script>
<link rel="stylesheet" href="{% static 'client.min.css' %}">

{% block js %}
{% endblock %}

<script>

    window.addEventListener('load', function () {
        function get_full_name(name, surname) {
            var name = document.getElementById('name').value;
            var surname = document.getElementById('surname').value;
            var result = name + ' ' + surname + '!';
            var target_elem = document.getElementById('output');
            target_elem.innerHTML = result;
        }


        document.getElementById('btn').addEventListener('click', get_full_name);

        {#alert(#}
        {#    'window onload!'#}
        {#);#}
    })
    // var x = 5;
    /* console.log(x);
     var array = [4, 2, 2, 32, 3.4, 'asdasd', true, false, null, undefined, {
         'key': 'value',
         'key1': 'value1',
         'key2': 'value2',
     }];
     for (var i = 0; i < 15; i += 2) {
         console.log(i);
     }
     */
    console.log('---------------------');
    /*
    i = 0;
    while (i < 25) {
        i++;
        console.log(i);
    }
    */
    {#console.log(array);#}
    /*
    do {
        alert('tst00');
    } while (i < 25);
*/
    function hello_js() {
        {#alert('hello world!');#}
        return true;
    }

    function iter_array(array) {
        for (var i = 0; i < array.length; i++) {
            var current_item = array[i];
            if (current_item == 4 || current_item == 6) {
                continue;
            }
            console.log(current_item)
        }
    }

    var f = function (a) {
        for (var i = 0; i < arguments.length; i++) {
            console.log(arguments[i])
        }
        console.log("arguments.length ", arguments.length);
    };

    f(1, 2, 2, 3, 4, 5, 6);

    {#iter_array([1, 2, 3, 4, 5, 6, 7, 8])#}

    var result = hello_js();
    console.log(result);

</script>
</body>
</html>