{% extends 'index.html' %}

{% block content %}

<h1>All article hello world )</h1>

{% for article in list_of_article %}
<div>
    #{{forloop.counter}}
    <a href="{% url 'client_app:show-article-client' pk=article.id %}">{{article.title}}</a>
    <p>{{article.author}}</p>
</div>

{% endfor %}

{% endblock %}