{% extends 'index.html' %}

{% block css %}
<style>
    .align-center {
        text-align: center;
    }

    textarea {
        resize: none;
        height: 150px;
    }
</style>


{% endblock %}
{% block content %}
<h1>Заголовок - {{article.title}}</h1>
<div>Контент - {{article.content|safe}}</div>
<hr>

<div class="author-wrap">
    <p>Создана - {{article.create_at}}</p>
    <p>Автор - @{{article.author.user}}</p>
</div>

<h3 class="align-center">Комментарии ({{article.comments.all|length}})</h3>

{% for comment in article.comments.all %}
<div class="media">
    <a class="pull-left" href="#">
        <p style="margin-right: 15px;">#{{forloop.counter}}</p>
    </a>
    <div class="media-body">
        <h6 class="media-heading">@{{comment.from_user}}</h6>
        {{comment.msg}}
    </div>
</div>
<hr>
{% empty %}

<h2>Коментарием пока нет... Вы можете быть первыми</h2>

{%  endfor %}
{% if messages %}
{{messages}}

{% endif %}

{# {% if request.user.is_authenticated %} #}
<form action="{% url 'client_app:add_comment' article.id %}" method="POST">
    {% csrf_token %}
    {% for field in comment_form %}
    <div>
        {{field.label_tag}}
    </div>
    {{field}}
    {% endfor %}
    <div>
        <button class="btn btn-success">Отправить</button>
    </div>
</form>

{# {% else %}#}

{#<p class="alert alert-info">Авторизируйтесь пожалуйста. #}
    {#<a href="{% url 'client_app:login' %}" class="btn btn-success">Вход</a></p>#}
{#{% endif %}#}


{% endblock %}