{% extends 'index.html' %}


{% block content %}
<div class="book-wrapper row">

    {% for article in all_articles %}
    {% include 'includes/article_item.html' with object=article del=True %}

    {% empty %}
    <p class="alert alert-warning">
        Ваш список пуст!
        <a href="{% url 'lesson_3:home' %}">Подберите себе книгу!</a>
    </p>
    {% endfor %}


</div>
{% endblock %}