{% extends 'client_app/cabinet.html' %}

{% block right_col %}
<form action="{% url 'client_app:write_post' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ article_form.media }}
    {% for field in article_form %}
    <div>
        <label for="">{{field.label}}</label>
        {{field}}
        {% if field.errors %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <button>Save</button>
</form>

{% endblock %}