{% for article in all_articles %}
    <div class="row" style="border-bottom: 1px solid black; padding-bottom: 5px;">
        <div class="col-md-1 number">{{ forloop.counter }}</div>
        <div class="col-md-4">{{ article.title }}</div>
        <div class="col-md-4">{{ article.get_status_display }}</div>
        <div class="col-md-3">
            <a class="js-delete"
               href="{% url 'client_app:delete_article' pk=article.id %}">
                Delete
            </a>
            <a class="js-show-content"
               href="{% url 'client_app:show_article' pk=article.id %}">Show</a>
        </div>
    </div>
{% endfor %}


<div class="popup-wrapper">
    <span class="js-close close">X</span>
    <div class="content">

    </div>
</div>