<div class=" col-md-4 card book-item {% if object.is_sale %} sale {% endif %}" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{object.title}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@{{object.author.get_full_name}}</li>
    </ul>
    <div class="card-body">
        <a class="btn btn-link" href="{% url 'lesson_3:book-info' pk=object.id %}" class="card-link">Читать</a>
    </div>
    {% if del == True %}
    <a class="btn btn-danger" href="{% url 'client_app:wish-list' pk=object.id %}">Удалить</a>
    {% else %}
    <form action="{% url 'client_app:set-to-wish-list' %}" >
        <input type="hidden" name="article_id" value = {{object.id}}>
        <button>Отложить на чтение</button>
    </form>
    {% endif %}
</div>