<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CBS DJANGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url  'lesson_3:home' %}">Все книги<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url  'lesson_3:authors' %}">Все авторы</a>
            </li>


            <li class="nav-item active">
                <a class="nav-link" href="{% url 'client_app:all-articles' %}">Все статьи от пользователей<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    примеры
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'lesson_3:calc' %}">Calculator</a>
                    <a class="dropdown-item" href="{% url 'vue:main' %}">Example vue</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <a class="btn btn-info" href="{% url 'client_app:cabinet' %}">Мой кабинет</a>
            {% if request.user.is_authenticated %}
                <a class="btn btn-success" href="{% url 'client_app:logout' %}">Выход({{ request.user.username }})</a>
            {% else %}
                <a href="{% url 'client_app:login' %}" class="btn btn-success">Вход</a>
                <a href="{% url 'client_app:register' %}" class="btn btn-primary">Регистрация</a>
            {% endif %}

        </ul>
        <a href="{% url 'client_app:wish-list' pk=0 %}"
           class="btn btn-warning">
            Не забыть почитать ({{ request.session.read_article|length }})
        </a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


