<template>
    <div class="root">
        <!--{{test_text}}-->
        <!--<button @click="check_money">Узнать курс валют</button>-->
        <p :class="['alert' , {'alert-warning' : download_money , 'alert-success': !download_money}]">{{money_text}}</p>
        <table border="1" cellpadding="5">
            <tr>
                <td></td>
                <td>buy</td>
                <td>sale</td>
            </tr>
            <tr>
                <td>USD</td>
                <td>{{USD.buy}}</td>
                <td>{{USD.sale}}</td>
            </tr>
            <tr>
                <td>EUR</td>
                <td>{{EUR.buy}}</td>
                <td>{{EUR.sale}}</td>
            </tr>
            <tr>
                <td>RUB</td>
                <td>{{RUR.buy}}</td>
                <td>{{RUR.sale}}</td>
            </tr>
        </table>
        <p v-if="error" class="alert alert-danger">Поля не могут быть пустыми!</p>
        <h3>Create new post</h3>
        <div>
            <label for="">Title</label>
            <input type="text" v-model="title">
            {{title}}
        </div>
        <div>
            <label for="">text</label>
            <input type="text" v-model="text">
            {{text}}
        </div>
        <button class="btn btn-success" @click="create_new">Добавить новую статью</button>

        <div>
            <h3>Update post</h3>
            <div>
                <label for="">Title</label>
                <input type="text" v-model="update_post_obj.title">
                {{update_post_obj.title}}
            </div>
            <div>
                <label for="">text</label>
                <input type="text" v-model="update_post_obj.text">
                {{update_post_obj.text}}
            </div>
            <button class="btn btn-primary" @click="update_request">Обновить статью</button>
        </div>
        <h1>Count {{post_array.length}}</h1>

        <div class="post-wrapper">

            <div class="post-item" v-for="(post , index ) in post_array">
                <p>id - {{post.id}}</p>
                <p>title - {{post.title}}</p>
                <p>text - {{post.text}}</p>
                <p>date - {{post.date}}</p>
                <button class="btn btn-danger" @click="delete_post(post.id , index)">Delete</button>
                <button class="btn btn-primary" @click="update_post(post.id)">Update</button>
                <hr>
            </div>
        </div>
    </div>
</template>

<script>
    import {getCookie} from './cookies';

    export default {
        name: "postComponent",
        // delimiters: ['']
        data() {
            return {
                test_text: 'asdasdasd',
                post_array: [],
                title: '',
                text: '',
                error: false,
                update_post_obj: {
                    'id': null,
                    'title': '',
                    'text': ''
                },
                USD: {
                    'sale': 0,
                    'buy': 0,
                },
                EUR: {
                    'sale': 0,
                    'buy': 0,
                },
                RUR: {
                    'sale': 0,
                    'buy': 0,
                },
                download_money: true,
                money_text: 'Подождите , мы грузим курсы валют ..'
            }

        },

        methods: {
            delete_post(article_id, index_arr) {
                let csrf_token = getCookie("csrftoken");
                let url = '/vue-example/api/post/' + article_id;
                let vm = this;
                $.ajax({
                    url: url,
                    method: 'DELETE',
                    headers: {
                        "X-CSRFToken": csrf_token
                    }
                }).done(function (response) {
                    if (response.status) {
                        vm.post_array.splice(index_arr, 1);
                    }
                    console.log(response);
                });
            },
            update_post(article_id) {
                let url = '/vue-example/api/post/' + article_id;
                let vm = this;
                $.ajax({
                    url: url,
                    method: 'GET',
                }).done(function (response) {
                    vm.update_post_obj['id'] = response.id;
                    vm.update_post_obj['title'] = response.title;
                    vm.update_post_obj['text'] = response.text;
                    console.log(response);
                });
            },
            create_new() {
                let url = '/vue-example/api/get-all-post';
                let csrf_token = getCookie("csrftoken");
                let vm = this;
                if (!vm.title || !vm.text) {
                    vm.error = true;
                    return;
                }
                vm.error = false;
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: {
                        title: vm.title,
                        text: vm.text,
                    },
                    headers: {
                        "X-CSRFToken": csrf_token
                    }
                }).done(function (response) {
                    if (response.ok) {
                        let last_id = vm.post_array[vm.post_array.length - 1]['id'] + 1;
                        let new_object = {
                            id: last_id,
                            title: vm.title,
                            text: vm.text,
                            date: new Date()
                        };
                        vm.post_array.push(new_object);
                        vm.text = '';
                        vm.title = '';
                    }
                })
            },
            update_request() {
                let url = '/vue-example/api/post/' + this.update_post_obj.id;
                let vm = this;
                let csrf_token = getCookie("csrftoken");
                $.ajax({
                    url: url,
                    method: 'PUT',
                    data: {
                        title: vm.update_post_obj.title,
                        text: vm.update_post_obj.text,
                    },
                    headers: {
                        "X-CSRFToken": csrf_token
                    }
                }).done(function (response) {
                    alert('Update true!');
                    // vm.update_post_obj['id'] = response.id;
                    // vm.update_post_obj['title'] = response.title;
                    // vm.update_post_obj['text'] = response.text;
                    console.log('put request');
                    console.log(response);
                })

            },
            check_money() {
                this.test_text = 'call function check money';
                let component = this;
                $.ajax({
                    method: 'GET',
                    url: 'https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5'
                }).done(function (response) {
                    for (let money in response) {
                        console.log(response[money].ccy);


                        switch (response[money].ccy) {
                            case 'USD': {
                                component.USD.sale = response[money].sale;
                                component.USD.buy = response[money].buy;
                                break;
                            }
                            case 'EUR': {
                                component.EUR.sale = response[money].sale;
                                component.EUR.buy = response[money].buy;
                                break;
                            }
                            case 'RUR': {
                                component.RUR.sale = response[money].sale;
                                component.RUR.buy = response[money].buy;
                                break;
                            }

                        }
                    }
                    component.money_text = 'Мы загрузили!!!!!'
                    component.download_money = false;
                    // console.log(response);
                });
                // alert('check_money');
            }
        },
        beforeMount() {
            let vm = this;
            $.ajax({
                url: '/vue-example/api/get-all-post',
                type: 'GET'
            }).done(function (response) {
                vm.post_array = response;
                console.log(response);
            });

            setTimeout(this.check_money, 2000);
            // this.check_money();
        },

    }
</script>

<style scoped>

</style>